.header {
  display: flex;
  flex-wrap: wrap;

  &__logo {
    display: inline-flex;
    -ms-flex-align: center;
    transform: scale(0.7);
  }

&__nav {
  display: inline-flex;
  -ms-flex-align: center;
    color: $mainblue;

    & li { 
      display: inline-flex;
      -ms-flex-align: center;
      flex-direction: row;
      margin-right: 1.2em;
    }
  }

  &__user-links {
    display: inline-flex;

  }
  & > a:first-of-type {
    margin-right: 1rem;
  }
}

